<launch>

	<arg name="adr0" default="E6:CD:44:A7:EF:7D"/>
	<arg name="adr1" default="FB:28:2C:0B:75:19"/>
	<arg name="adr2" default="DD:4E:63:F6:8F:DA"/>
	<arg name="adr3" default=""/>

	<group ns="sphero_0">
		<node pkg="sphero_formation" type="man_control.py" name="manual" output="screen">
			<remap from="/joystick_input" to="/joy"/>
			<param name="sensitivity" value="1"/>
		</node>

		<node pkg="sphero_sprk" type="sphero_driver.py" name="driver" output="screen" >
			<param name="adresa" type="str" value="$(arg adr0)"/>
		</node>
	</group>

	<group ns="sphero_1">
		<node pkg="sphero_formation" type="man_control.py" name="manual" output="screen">
			<remap from="/joystick_input" to="/joy"/>
			<param name="sensitivity" value="1"/>
		</node>

		<node pkg="sphero_sprk" type="sphero_driver.py" name="driver" output="screen" >
			<param name="adresa" type="str" value="$(arg adr1)"/>
		</node>
	</group>

	<group ns="sphero_2">
		<node pkg="sphero_formation" type="man_control.py" name="manual" output="screen">
			<remap from="/joystick_input" to="/joy"/>
			<param name="sensitivity" value="1"/>
		</node>

		<node pkg="sphero_sprk" type="sphero_driver.py" name="driver" output="screen" >
			<param name="adresa" type="str" value="$(arg adr2)"/>
		</node>
	</group>

	<group ns="sphero_3">
		<node pkg="sphero_formation" type="man_control.py" name="manual" output="screen">
			<remap from="/joystick_input" to="/joy"/>
			<param name="sensitivity" value="1"/>
		</node>

		<node pkg="sphero_sprk" type="sphero_driver.py" name="driver" output="screen" >
			<param name="adresa" type="str" value="$(arg adr3)"/>
		</node>
	</group>
</launch>