<launch>
	<!-- Set the arguments -->
	<arg name="num" default="4"/>  <!-- Number of robots -->
	<arg name="map_name" default="empty_10x10"/>  <!-- Name of the simulation map -->

	<arg name="map_yaml" default="$(find sphero_formation)/sim/$(arg map_name).yaml"/>

	<!-- Include launch file with Sphero controllers -->
	<include file="$(find sphero_formation)/launch/real/manual/$(arg num)_robots.launch"/>
	
	<!-- Start Joy node: user control with joystick -->
	<node pkg="joy" type="joy_node" name="JoyInput">
		<!-- REPLACE value WITH THE RIGHT JOYSTICK IDENTIFIERˇˇˇ-->
		<param name="dev" type="string" value="/dev/input/js1" />
		<param name="deadzone" value="0"/>
	</node>

	<!-- Start map serever -->
	<node pkg="map_server" type="map_server" args="$(arg map_yaml)" name="map_server"/>
</launch>