<launch>
	<!-- Config file with initial velocities for each robot. -->
	<arg name="filename" default="$(find sphero_formation)/cfg/sphero_init_vel.cfg"/>

	<!-- Start Reynolds controller nodes launcher. -->
	<node pkg="sphero_formation" type="reynolds_launch.sh" name="reynolds_launcher" args="$(arg filename) robot" output="screen"/>

	<!-- Start nearest_search node: search for other robots in range. -->
	<node pkg="sphero_formation" type="nearest_search.py" name="search" output="screen">
		<param name="robot_name" type="string" value="robot"/>
	</node>

	<!-- Record a bag for debug purposes -->
	<arg name="rosbag_args" default="-O $(find sphero_formation)/sphero_sim_vel.bag --duration=120 /robot_0/cmd_vel /robot_0/odom"/>
	<!-- <node pkg="rosbag" type="record" name="rosbag_record" args="$(arg rosbag_args)" output="screen"/> -->
</launch>
