<launch>
	<!-- Config file with initial velocities for each robot. -->
	<arg name="filename" default="$(find sphero_formation)/cfg/sphero_init_vel.cfg"/>

	<!-- Start Reynolds controller nodes launcher. -->
	<node pkg="sphero_formation" type="reynolds_launch.sh" name="reynolds_launcher" args="$(arg filename)" output="screen"/>

	<!-- Start nearest_search node: search for other robots in range. -->
	<node pkg="sphero_formation" type="nearest_search.py" name="search" output="screen"/>

	<!-- Record a bag for debug purposes -->
	<!-- <arg name="rosbag_args" default='-O $(find sphero_formation)/data/sim_test.bag -e "(.*)/odom" '/> -->
	<!-- <arg name="rosbag_args" default='-O $(find sphero_formation)/data/kalman_test.bag /robot_0/odom /robot_0/debug_est'/> -->
	<!-- <node pkg="rosbag" type="record" name="rosbag_record" args="$(arg rosbag_args)" output="screen"/> -->
</launch>
