<launch>
	<!-- Set args. -->
    <arg name="num_of_robots" default="7"/>
	<arg name="map_name" default="empty_10x10"/>
    <arg name="ctrl_loop_freq" default="10"/>
    <arg name="debug_enabled" default="true"/>

	<arg name="map_world" default="$(find sphero_formation)/resources/sim/$(arg map_name)_$(arg num_of_robots).world"/>
	<arg name="map_yaml" default="$(find sphero_formation)/resources/maps/$(arg map_name).yaml"/>

	<!-- Set arguments as ros parameter so all nodes can access them. -->
	<param name="num_of_robots" type="int" value="$(arg num_of_robots)"/>
	<param name="ctrl_loop_freq" type="int" value="$(arg ctrl_loop_freq)"/>
	<param name="debug_enabled" type="boolean" value="$(arg debug_enabled)"/>

	<!-- Start map server. -->
	<node pkg="map_server" type="map_server" args="$(arg map_yaml)" name="map_server"/>

	<!-- Start Stage simulator. -->
	<node pkg="stage_ros" type="stageros" name="simulator" args="$(arg map_world)"/>

	<!-- Start rqt_reconfigure GUI. -->
	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

	<!-- Start dynamic reconfigure node. -->
	<node pkg="sphero_formation" type="dynamic_reconfigure_node.py" name="dyn_reconf" output="screen"/>

	<!-- Start rviz. -->
	<param name="robot_description" textfile="$(find sphero_formation)/resources/simple_ball.urdf"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find sphero_formation)/launch/sim/sphero_sim.rviz"/>
</launch>
