<launch>
	<!-- Start Reynolds controller for each Sphero -->
	<group ns="robot_0">
		<node pkg="sphero_formation" type="reynolds_controller.py" name="con0" output="screen"/>
	</group>

	<group ns="robot_1">
		<node pkg="sphero_formation" type="reynolds_controller.py" name="con1"/>
	</group>

	<group ns="robot_2">
		<node pkg="sphero_formation" type="reynolds_controller.py" name="con2"/>
	</group>

	<group ns="robot_3">
		<node pkg="sphero_formation" type="reynolds_controller.py" name="con3"/>
	</group>

	<!-- Start nearest_search node: search for other Spheros in range-->
	<node pkg="sphero_formation" type="nearest_search.py" name="search" output="screen"/>

	<!-- Start Stage simulator -->
	<node pkg="stage_ros" type="stageros" name="simulator" args="$(find sphero_formation)/sim/empty_10x10.world"/>

	<!-- Start simulation_tf node: provide tf transforms for simulation-->
	<node pkg="sphero_formation" type="simulation_tf.py" name="tf_server"/>

	<!-- Start map serever -->
	<arg name="map_file" default="$(find sphero_formation)/sim/empty_10x10.yaml"/>
	<node pkg="map_server" type="map_server" args="$(arg map_file)" name="map_server"/>
</launch>