<launch>
	<!-- Set the arguments. -->
	<arg name="num" default="4"/> <!-- Number of Spheros in use -->
	<!-- Config file with Sphero addresses -->
	<arg name="filename" default="$(find sphero_formation)/cfg/sphero_addresses.txt"/>

	<!-- Set number of robots as ros parameter so all nodes can access it. -->
	<param name="num_of_robots" type="int" value="$(arg num)"/>

	<!-- Start Sphero driver nodes launcher. -->
	<node pkg="sphero_formation" type="drivers_launch.sh" name="drivers_launcher" args="$(arg num) $(arg filename)" output="screen"/>
</launch>
