<launch>
	<!-- Set args -->
    <arg name="num_of_robots" default="4"/>

	<!-- Config file with Sphero addresses -->
	<arg name="filename" default="$(find sphero_formation)/cfg/sphero_addresses.txt"/>

	<!-- Set arguments as ros parameter so all nodes can access them. -->
	<param name="num_of_robots" type="int" value="$(arg num_of_robots)"/>

	<!-- Start Sphero driver nodes launcher. -->
	<node pkg="sphero_formation" type="drivers_launch.sh" name="drivers_launcher" args="$(arg num_of_robots) $(arg filename)" output="screen"/>
</launch>
