<launch>
	<!-- Set the arguments. -->
	<arg name="robot_name" default="sphero"/> <!-- Name/type of the robots in use -->
	<!-- Config file with initial velocities for each Sphero -->
	<arg name="filename" default="$(find sphero_formation)/cfg/sphero_init_vel.cfg"/>

	<!-- Start nearest_search node: search for other Spheros in range. -->
	<node pkg="sphero_formation" type="nearest_search.py" name="search" output="screen">
		<param name="robot_name" type="string" value="$(arg robot_name)"/>
	</node>

	<!-- Start Reynolds controller nodes launcher. -->
	<node pkg="sphero_formation" type="reynolds_launch.sh" name="reynolds_launcher" args="$(arg filename) $(arg robot_name)" output="screen">
		<param name="wait_count" type="int" value="30"/>
		<param name="start_count" type="int" value="10"/>
		<param name="run_type" type="string" value="real"/>
	</node>
</launch>