<launch>
	<!-- Set the arguments -->
	<arg name="num" default="4"/>  <!-- Number of robots -->
	<arg name="map_name" default="across_3x3"/>  <!-- Name of the simulation map -->
	
	<arg name="map_yaml" default="$(find sphero_formation)/sim/$(arg map_name).yaml"/>

	<!-- Include launch file with Reynolds controllers -->
	<include file="$(find sphero_formation)/launch/real/$(arg num)_robots.launch"/>

	<!-- Start nearest_search node: search for other Spheros in range-->
	<node pkg="sphero_formation" type="nearest_search.py" name="search" output="screen">
		<param name="num_of_robots" type="int" value="$(arg num)"/>
	</node>

	<!-- Start map server -->
	<node pkg="map_server" type="map_server" args="$(arg map_yaml)" name="map_server"/>
</launch>