<launch>
	<!-- Set args -->
	<arg name="map_name" default="borongaj"/>
    <arg name="debug_boids" default="true"/>
    <arg name="debug_kalman" default="true"/>
    <arg name="ctrl_loop_freq" default="10"/>
	<arg name="sensitivity" default="0.2"/>

	<arg name="map_yaml" default="$(find sphero_formation)/resources/maps/$(arg map_name).yaml"/>

	<!-- Set arguments as ros parameter so all nodes can access them. -->
	<param name="debug_boids" type="boolean" value="$(arg debug_boids)"/>
	<param name="debug_kalman" type="boolean" value="$(arg debug_kalman)"/>
	<param name="ctrl_loop_freq" type="int" value="$(arg ctrl_loop_freq)"/>

	<!-- Start Optitrack data streaming node. -->
	<include file="$(find mocap_optitrack)/launch/mocap.launch"/>

	<!-- Start map server. -->
	<node pkg="map_server" type="map_server" args="$(arg map_yaml)" name="map_server"/>

	<!-- Start rqt_reconfigure GUI. -->
	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

	<!-- Start dynamic reconfigure node: allows changing parameters during runtime. -->
	<node pkg="sphero_formation" type="dynamic_reconfigure_node.py" name="dyn_reconf" output="screen"/>

	<!-- Start Joy node: user control with joystick. -->
	<node pkg="joy" type="joy_node" name="JoyInput">
		<!-- REPLACE value WITH THE RIGHT JOYSTICK IDENTIFIERˇˇˇ-->
		<param name="dev" type="string" value="/dev/input/js1"/>
		<param name="deadzone" value="0"/>
	</node>

	<!-- Start manual control nodes launcher. -->
	<node pkg="sphero_formation" type="manual_ctrl_launch.sh" name="manual_launcher" args="$(arg sensitivity)" output="screen"/>
</launch>
