<launch>
	<!-- Number of Spheros in use -->
	<arg name="num" default="4"/>

	<!-- Start Initialization node: Get initial Spheros positions. --> 
	<node pkg="sphero_formation" type="sphero_init.py" name="initialization" output="screen">
		<param name="num_of_robots" type="int" value="$(arg num)"/>
	</node>

	<!-- Start Kalman filter nodes launcher. -->
	<node pkg="sphero_formation" type="kalman_filter_launch.sh" name="Kalman_launcher" args="$(arg num)" output="screen"/>

	<!-- Start rviz. -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find sphero_formation)/launch/real/sphero_real.rviz"/>

	<!-- A sphere model used to represent Sphero robots -->
	<param name="robot_description" textfile="$(find sphero_formation)/resources/simple_ball.urdf" />

</launch>