<launch>
	<!-- Start Initialization node: Get initial Spheros positions. -->
	<node pkg="sphero_formation" type="sphero_init.py" name="initialization" output="screen"/>

	<!-- Start Kalman filter nodes launcher. -->
	<node pkg="sphero_formation" type="kalman_filter_launch.sh" name="kalman_launcher" output="screen"/>
</launch>
